build Docker image sdk-mvebu-cortexa9:
  stage: docker SDK and IB
  needs: ["build test mvebu prpl security"]
  variables:
    DOCKER_DOCKERFILE_PATH: .gitlab/docker/sdk
    DOCKER_BUILD_EXTRA_ARGS: --build-arg DESIGNATED_BRANCH_SLUG=$CI_DESIGNATED_BRANCH_SLUG
  extends: .build Docker image
  before_script:
    - tar xf bin/targets/mvebu/cortexa9/prplos-sdk-mvebu-cortexa9_gcc*Linux-x86_64.tar.xz --strip=1 -C .gitlab/docker/sdk

test Docker image sdk-mvebu-cortexa9:
  extends: .test Docker SDK image
  needs: ["build Docker image sdk-mvebu-cortexa9"]

deploy Docker image sdk-mvebu-cortexa9:
  stage: docker SDK and IB deploy
  extends: .deploy Docker image
  needs: ["test Docker image sdk-mvebu-cortexa9"]


build Docker image sdk-x86-64:
  stage: docker SDK and IB
  needs: ["build test x86_64 prpl security"]
  variables:
    DOCKER_DOCKERFILE_PATH: .gitlab/docker/sdk
    DOCKER_BUILD_EXTRA_ARGS: --build-arg DESIGNATED_BRANCH_SLUG=$CI_DESIGNATED_BRANCH_SLUG
  extends: .build Docker image
  before_script:
    - tar xf bin/targets/x86/64/prplos-sdk-x86-64_gcc*.Linux-x86_64.tar.xz --strip=1 -C .gitlab/docker/sdk

test Docker image sdk-x86-64:
  extends: .test Docker SDK image
  needs: ["build Docker image sdk-x86-64"]

deploy Docker image sdk-x86-64:
  stage: docker SDK and IB deploy
  extends: .deploy Docker image
  needs: ["test Docker image sdk-x86-64"]


build Docker image sdk-qualcommax-ipq807x:
  stage: docker SDK and IB
  needs: ["build test ipq807x prpl security"]
  variables:
    DOCKER_DOCKERFILE_PATH: .gitlab/docker/sdk
    DOCKER_BUILD_EXTRA_ARGS: --build-arg DESIGNATED_BRANCH_SLUG=$CI_DESIGNATED_BRANCH_SLUG
  extends: .build Docker image
  before_script:
    - tar xf bin/targets/qualcommax/ipq807x/prplos-sdk-qualcommax-ipq807x_gcc*.Linux-x86_64.tar.xz --strip=1 -C .gitlab/docker/sdk

test Docker image sdk-qualcommax-ipq807x:
  extends: .test Docker SDK image
  needs: ["build Docker image sdk-qualcommax-ipq807x"]

deploy Docker image sdk-qualcommax-ipq807x:
  stage: docker SDK and IB deploy
  extends: .deploy Docker image
  needs: ["test Docker image sdk-qualcommax-ipq807x"]


build Docker image sdk-qca_ipq95xx-generic:
  stage: docker SDK and IB
  needs: ["build test qca_ipq95xx prpl cellular security thread"]
  variables:
    DOCKER_DOCKERFILE_PATH: .gitlab/docker/sdk
    DOCKER_BUILD_EXTRA_ARGS: --build-arg DESIGNATED_BRANCH_SLUG=$CI_DESIGNATED_BRANCH_SLUG
  extends: .build Docker image
  before_script:
    - tar xf bin/targets/ipq95xx/generic/prplos-sdk-ipq95xx-generic_gcc*.Linux-x86_64.tar.xz --strip=1 -C .gitlab/docker/sdk

test Docker image sdk-qca_ipq95xx-generic:
  extends: .test Docker SDK image
  needs: ["build Docker image sdk-qca_ipq95xx-generic"]

deploy Docker image sdk-qca_ipq95xx-generic:
  stage: docker SDK and IB deploy
  extends: .deploy Docker image
  needs: ["test Docker image sdk-qca_ipq95xx-generic"]
